
.root
{
    -fx-background-color: #99cccc;
}


.button
{
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(azure,#2196f3);
    -fx-background-radius: 20;
    -fx-border-color: linear-gradient(azure,#2196f3);
    -fx-border-radius: 20;
    -fx-border-width: 3;
}

.button:hover
{
    -fx-font-weight: bold;
    -fx-background-color: #73c2eb;
    -fx-background-radius: 20;
    -fx-border-color: linear-gradient(azure,#2196f3);
    -fx-border-radius: 20;
    -fx-border-width: 3;
}

.combo-box
{
    -fx-background-color: linear-gradient(azure,#2196f3);
    -fx-background-radius: 20;
    -fx-text-color: white;
    -fx-border-color: linear-gradient(azure,#2196f3);
    -fx-border-radius: 20;
    -fx-border-width: 3;
}

.combo-box:hover
{
    -fx-background-color: #73c2eb;
    -fx-background-radius: 20;
    -fx-border-color: linear-gradient(azure,#2196f3);
    -fx-border-radius: 20;
    -fx-border-width: 3;
}

.tab
{
    -fx-background-color: #4682B4;
    -fx-pref-width: 190;
    -fx-pref-height:40;
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
}

.tab:hover
{
    -fx-background-color:  #588bae;
}

.tab:selected
{
    -fx-background-color:  #99cccc;
}

.text-field
{
    -fx-background-color: whitesmoke;
    -fx-text-fill: gray;
    -fx-font-weight: bold;
}

.label
{
    -fx-font-weight: bold;
}